Package: com.chr1s.youtubeplayer
Name: YoutubePlayer
Version: 1.0.0-beta2
Architecture: iphoneos-arm
Description: Youtube player controls for iOS
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
