Package: com.chr1s.atlas
Name: Atlas
Version: 1.0.1
Architecture: iphoneos-arm
Description: Minimalistic video player replacement
Maintainer: Chr1s
Author: Chr1s
Icon: https://chr1s.dev/assets/atlasRound.png
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>= 1.15.1)
